name: CI
on: [push]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        uses: pnpm/action-setup@v1.2.1
        with:
          version: 5
          run_install: |
            args: [--frozen-lockfile]

      - name: Test
        run: yarn test
